@font-face {
  font-family: 'headline-gothic-atf';
  src: url('../assets/fonts/headline-gothic-atf.woff2') format('woff2');
}

@font-face {
  font-family: 'BentonSans_Black';
  src: url('../assets/fonts/BentonSans_Black.woff2') format('woff2');
}
@font-face {
  font-family: 'BentonSans_Black_Regular';
  src: url('../assets/fonts/BentonSans_Black_Regular.woff2') format('woff2');
}


/* gothic light */
@font-face {
  font-family: 'BentonSans_light_Regular';
  src: url('../assets/fonts/BentonSans_Light_Regular.woff2') format('woff2');
}

:root {
    /*  //////////////////// background Color ////////////////////////// */
    --primary-bg-color: #0fd56f;
    --secondary-bg-color: #FCDC00;
        --red-bg-color:#FF0000;
       --white-bg-color:#FFFF; 
       --button-bg-color:#E81D2C;
       --green-color:#005D37;

    /*  //////////////////// Text Color ////////////////////////// */

    --primary-text-color: #0fd56f;
    --secondary-text-color: #000;
    --white-text-color: #FFF;
    --yellow-text-color: #FCDC00;


    /*  //////////////////// Font Family ////////////////////////// */

    --gothic-font: 'headline-gothic-atf', sans-serif;
    --banton-font: 'BentonSans_Black', sans-serif;
    --banton-regular-font: 'BentonSans_Black_Regular', sans-sarif;
    --banton-light-font: 'BentonSans_light_Regular', sans-sarif;

  }
