.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 111111111111111111111;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
  }
  
  .loader-container.fade-in {
    opacity: 1;
    visibility: visible;
  }
  
 
  .loader-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-image: url("../../assets/images/new_images/background.webp");
    z-index: 111111111111111111111111;
  }
  
  .loader {
    z-index: 111111111111111111111111111;
  }
  
  .loader img {
    width: 150px;
    height: 150px;
  }
  
  @media (max-width: 600px) {
    .loader img {
      width: 150px;
      height: 150px;
    }
  }
  