.tc_modal-overlay {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%,-0%);
    width: 500px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    animation: tcModalFadeIn 0.5s ease-in-out;
z-index: 111111;
  }
  .tc_modal-overlay hr{
    margin-top: 5px !important;
    margin-bottom: 16px !important;
  }
  
  @keyframes tcModalFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  
  }
  .tc_modal-container {
    background: white;
    width: 100%;
    max-width: 600px;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(100%);
    animation: slide-up 0.5s forwards;
  }
  
  @keyframes slide-up {
    to {
      transform: translateY(0);
    }
  }
  
  .tc_modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .tc_modal-title {
    margin: 0;
  }
  
  .tc_modal-content {
    margin-top: 20px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .tc_button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .tc_button {
    color: #007bff;
    background-color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .tc_button:hover {
    background: #0056b3;
  }

  @media only screen and (max-width: 500px) {
    .tc_modal-overlay {
        width: 100vw !important;
    }
    
  }
  