/* Modal.css */
.unique_modal-overlay {
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    position: fixed;
    top: 0;
    left: 50%;
    width: 500px;
    height: 100%;
    transform: translate(-50%,-0%);
    background: #00d36687;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
    z-index: 1000;
    overflow: hidden;
    animation: uniqueModalFadeIn 0.5s ease-in-out;
  }
  @keyframes uniqueModalFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  
  }


  .unique_modal-overlay .modal-icon {
    display: inline-block;
    cursor: pointer;
    font-weight: 700;
    padding: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* border: 4px solid red; */
    margin-bottom: 40px;
}

.unique_modal-overlay .modal-icon img {

    width: 45px;
}

  
 .unique_modal-overlay .modal-content {
    background: white;
    padding: 0 !important;
    padding-top: 20px !important;
    border-radius: 10px !important;
    width: 70% !important;
    text-align: center;
    position: relative;
    border: 4px solid #00aa4e;
  }
  
 .unique_modal-overlay .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
 .unique_modal-overlay .modal-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  

 .unique_modal-overlay .modal-message{
    margin-top: 15px;
  }
 .unique_modal-overlay .modal-message p {
    margin: 5px 0;
    font-weight: bold;
    font-size: 32px;
    font-family: var(--gothic-font);
    font-weight: 600;
    color: var(--green-color);
    line-height: 32px;
    letter-spacing: 1px;
  }
  
 .unique_modal-overlay .modal-button {
    background: red;
    color: white;
    border: none;
    width: 70%;
    padding: 3px 20px;
    margin-top: 30px;
    border-radius: 13px;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: var(--gothic-font);
    font-weight: 700;
    cursor: pointer;
    border-right: 3px solid var(--green-color);
    border-bottom: 4px solid var(--green-color);
  }
  
 .unique_modal-overlay .open-modal-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  


  @media only screen and (max-width: 370px) {
    .unique_modal-overlay .modal-content {
      width: 60% !important;
    }

    .unique_modal-overlay .modal-button {

      width: 60%;
      padding: 3px 20px;
      border-radius: 13px;
      font-size: 30px;
    }

  }