@import './styles/variable.css';
@font-face {
  font-family: var(--gothic-font);
  src: url('../assets/fonts/headline-gothic-atf.woff2') format('woff2');
} ;


@font-face {
  font-family: var(--banton-font);
  src: url('../assets/fonts/BentonSans_Black.woff2') format('woff2');
};
body {
  font-family: var(--banton-font);
}
